.idea

# vendor это служебная папка для работы composer
# подгрузить зависимости можно командой composer dump-autoload
# подтянуть более новые версии библиотек composer update
vendor
composer.lock
composer.phar

# развернул через open server 6.0.0, добавил служебные файлы
.osp
.htaccess
# команда для запуска php 8.3 через open server
# osp on php-8.3

# полезная документация
# https://php.dragomano.ru/vozmozhnosti-open-server-panel-6/#sozdanie-proekta-na-nginx-php-fcgi-bez-apache
